@import '../../../../styles/main';

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  .button {
    border: 2px solid $color-space-black;
    border-radius: 6px;
    margin-right: 1rem;
    padding: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .save-button {
    background: $color-shining-azure;
    color: $color-peaceful-white;
  }

  .cancel-button {
    background: $color-light-gray;
  }
}
