@import '../../../../styles/main';

.container {
  .input-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    .label {
      margin-right: 1rem;
      width: 30%;

      &::after {
        content: ':';
      }
    }

    .input {
      border: 2px solid $color-space-black;
      border-radius: 0.5rem;
      box-sizing: border-box;
      padding: 0.5rem;
      outline: none;
      width: 70%;
    }
  }
}
