@import '../../styles/main';

.app {
  display: flex;
  justify-content: center;
  height: 100vh;

  .container {
    margin: 0 1rem;
    width: 90rem;

    .title {
      font-size: 7rem;
      padding: 3rem 0;
      text-align: center;
    }

    .switchers {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
    }
  }
}
