@import '../../styles/main';

.app {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 100vh;

  .button {
    border: 2px solid $color-space-black;
    padding: 1rem;
  }
}
