<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="mode" content="<%= htmlWebpackPlugin.options.mode %>" />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.files.favicon %>" />
        <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.files.css %>" />
    </head>
    <body>
        <div id="root"></div>
        <script src="<%= htmlWebpackPlugin.files.js %>"></script>
    </body>
</html>
